.main{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border: 4px double black; /* Параметры границы */
    background: #ffffff; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */

}
